.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
*.Rproj

/old
*.bak
*.gob
*.shp
*.dbf
*.prj
*.shx
*.cpg

*.qgz
*.old
*.7z

*watercourse_*
*.geojson
*-script.txt

input/
old/
orig/
png*
*.bil
*.hdr
*.prj
*.rar
*.7z
*.nc
*.csv
*.xlsx
*.tim
*.sta
*.air_pressure
*.air_temperature
*.relative_humidity
*.wind_speed
*.water_*
*.lnk